
.App{
    display: flex;
    font-family:'OpenSans';
    flex-direction: column;
}
  
.main{
    display: flex;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('');
    font-weight: normal;
    font-style: normal;
}
  

  