*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  font-family: 'OpenSans';
}

@font-face {
  font-family: 'OpenSans';
  src: url('/src/Fonts/OpenSans-VariableFont_wdthwght.ttf');
  font-weight: normal;
  font-style: normal;
}

.App{
  display: flex;
}




